.avatar-sizing {
    height: 100px;
    width: 100px;
}

.min-headers thead th,
.min-headers tbody td.no-break {
    white-space: nowrap;
}

.pay-order-button {
    line-height: 1.25px;
}

.pay-order-buttons {
    left: 0;
    padding-left: 10px;
    position: absolute;
    width: 120px;
    z-index: 1;
}

.pay-order-cell {
    position: relative;
    width: 120px;
}

.pay-order-text {
    left: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 0;
}