@import "~bootstrap/scss/bootstrap";

.App {
  color: white;
  font-size: calc(10px + 2vmin);
}

.boundaries {
  border: 1px solid white;
}

.rope-border-square {
  background-color: transparent;
  background-image: url("Assets/images/rope-border-square.png");
  background-size:100% 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.small-square {
  min-height: 400px;
}

.small-square-icon {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: 12%;
}