@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'LobsterFont';
  src: local('LobsterFont'), url(Assets/fonts/Lobster-Regular.ttf) format('truetype');
}

table {
  border-collapse: unset;
  border-spacing: 0;
}

.App {
  color: white;
  font-family: 'LobsterFont';
  font-size: calc(10px + 1vmin);
}

.boundaries {
  border: 1px solid white;
}

.clickable {
    cursor: pointer;
}

.full-view-height {
  min-height: 100vh;
}

.hud-bg {
    background-color: transparent;
    background-image: url('Assets/images/hud-background.png');
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.manifest {
    background-color: transparent;
    background-image: url('Assets/images/manifest.png');
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: repeat-y;
    margin-bottom: 122px;
    margin-top: 40px;
}

.no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.port-bg-01 {
    // background-color: transparent;
    // background-image: url('Assets/images/port-background-01.jpg');
    // background-size: cover;
    // background-position-x: center;
    // background-position-y: center;
    // background-repeat: no-repeat;
}

.rope-border-square {
    background-color: transparent;
    background-image: url("Assets/images/rope-border-square.png");
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.silver-ribbon {
    background-color: transparent;
    background-image: url("Assets/images/silver-ribbon.png");
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.small-square {
  font-family: 'LobsterFont';
  font-size: 2rem;
  min-height: 400px;
  padding-top: 1.2em;

  .btn.btn-link > svg {
    font-size: 1.5rem;
    line-height: 0.75rem;
    padding: 0;
    vertical-align: middle;
  }

  .double-line-headers {
    text-align: center;
  }

  .double-line-headers span {
    display: inline-block;
    line-height: 0.75rem;
    position: relative;  
  }

  .double-line-headers span:before,
  .double-line-headers span:after {
    content: "";
    position: absolute;
    height: 1.25rem;
    border-bottom: 5px solid;
    border-top: 5px solid;
    top: -4px;
    width: 40px;
  }

  .double-line-headers span:before {
    right: 100%;
    margin-right: 10px;
  }

  .double-line-headers span:after {
    left: 100%;
    margin-left: 10px;
  }
}

.small-square-icon {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: calc(20% - 1.2em);
}


@media only screen and (max-width: 1400px) {
  .small-square {
    font-size: 1.5rem;

    .double-line-headers span:before,
    .double-line-headers span:after {
      border-bottom: 2px solid;
      border-top: 2px solid;
      height: 0.75rem;
      width: 30px;
      top: 2px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .small-square {
    font-size: 3rem;
    padding-top: 1.3em;

    .btn.btn-link > svg {
      font-size: 2.5rem;
      line-height: 1.25rem;
    }

    .double-line-headers span:before,
    .double-line-headers span:after {
      border-bottom: 5px solid;
      border-top: 5px solid;
      height: 1.5rem;
      width: 40px;
      top: -4px;
    }
  }

  .small-square-icon {
    top: calc(20% - 1.3em);
  }
}

@media only screen and (max-width: 992px) {
  .small-square {
    font-size: 2.5rem;
    padding-top: 1em;

    .btn.btn-link > svg {
      font-size: 2rem;
      line-height: 1rem;
    }

    .double-line-headers span:before,
    .double-line-headers span:after {
      height: 1.25rem;
      top: -2px;
    }
  }

  .small-square-icon {
    top: calc(20% - 1em);
  }
}